html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.message {
  border-radius: 0.25rem;
  padding: 1rem;
  border: 1px solid grey;
  margin-bottom: 1rem;
  background-color: #92adad;
}

.message:empty {
  display: none;
}
